<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vegetable</key>
	<array>
		<string>トマト</string>
		<string>レタス</string>
		<string>キャベツ</string>
	</array>
	<key>fruits</key>
	<array>
		<string>kwei fruit</string>
		<string>pineapple</string>
		<string>mango</string>
		<string>banana</string>
		<string>apple</string>
	</array>
</dict>
</plist>
